/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
========================================== */

/*====== Start Main Rules(Core Styles) ======*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Variables */

:root {
  --dark: #333;
  --light: #fff;
  --lightgrey: #f4f4f4;
  --blue: #0067b8;
  --Nero: #262626;
  --grey: #f2f2f2;
  --lightblack: #616161;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light);
  color: var(--black);
  font-size: 15px;
  line-height: 1.5;
  /* TODOO */
  /* DEBG line height */
}

a {
  color: var(--Nero);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--Nero);
  color: var(--light);
  font-size: 15px;
}

.btn:hover {
  opacity: 0.9;
}

.dark {
  color: var(--light);
}

.dark .btn {
  background-color: var(--lightgrey);
  color: var(--dark);
}

/*====== End Main Rules ======*/

/*====== Start Navigation bar ======*/

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  justify-content: space-between;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px; /* make the logo little bit small */
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid var(--Nero);
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

/*====== End Navigation bar ======*/

/* ====== Start Showcase  ======*/

.showcase {
  width: 100%;
  height: 400px;
  /* background: url("/imges/slide1.png");
  background-position: center;
  background-size: cover;
		background-repeat: no-repeat; */
  background: url("/imges/slide1.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2,
p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 20px;
}

/* ====== End Showcase  ======*/

/* ====== Start Cards Section ======*/

/* Home Cards1 */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  margin-bottom: 40px;
}

.home-cards img {
  width: 100%;
  height: 160px; /* for testing my remove latter */
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 3px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

/* Xbox Section  */

.xbox {
  width: 100%;
  height: 350px;
  background: url("/imges/xbox.png") no-repeat center center/cover;
  margin-bottom: 20px;
}

.xbox .content {
  width: 40%;
  padding: 50px 0 0 30px;
}

.xbox p,
.carbon p {
  margin: 10px 0 20px;
}

/* Carbon */

.carbon {
  width: 100%;
  height: 350px;
  background: url("/imges/carbon.jpg") no-repeat center center/cover;
  margin-bottom: 20px;
}

.carbon .content {
  width: 55%;
  padding: 100px 0 0 30px;
}

/* Social media Fllow */

.fllow {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 30px 0 30px;
}

/* mean for every element in  .fllow give  margin-right: 10px; */
.fllow * {
  margin-right: 10px;
}

/* ====== Start Cards Section ======*/

/* ====== Start footer ======*/

/* footer (Links) */

.links {
  background-color: var(--grey);
  color: var(--lightblack);
  font-size: 12px;
  padding: 35px 0;
}

.links-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  align-items: flex-start;
  justify-content: center;
  /* line-height: 2.3; */
}

/*  footer (copyRight)  */

.footer {
  background-color: var(--grey);
  color: var(--lightblack);
  font-size: 12px;
  padding: 20px 0;
}

.footer-inner {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer div {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.footer ul {
  display: flex;
  flex-wrap: wrap;
}

.footer li {
  margin-right: 30px;
  margin-bottom: 20px;
}

/* ====== End footer ======*/

/* ====== Start Media Queries(Add a Breakpoint) ======*/

/* If the screen size is 700px or smaller */

@media only screen and (max-width: 700px) {
  .home-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .xbox .content p {
    display: none;
  }

  .xbox .content h2 {
    margin-bottom: 20px;
  }

  .carbon .content {
    width: 88%;
  }

  .links .links-inner {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* If the screen size is 500px or smaller */

@media only screen and (max-width: 500px) {
  .home-cards {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.links .links-inner {
  grid-template-columns: 1fr;
}

.links .links-inner ul {
  margin-bottom: 20px;
}
/* ====== End Media Queries ======*/
