/* ==========================================
   main.css
   These are the final styles for the project.
   Author:   Saddam Arbaa
========================================== */

/*====== Start Main Rules(Core Styles) ======*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* CSS Variables */

:root {
  --primary: #666;
  --dark: #333;
  --black: #000;
  --light: #fff;
  --whisper: #eaeaea;
  --blue: #0067b8;
  --Nero: #262626;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--light);
  color: var(--black);
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: var(--Nero);
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.btn {
  cursor: pointer;
  display: inline-block;
  border: 0;
  font-weight: bold;
  padding: 10px 20px;
  background-color: var(--Nero);
  color: var(--light);
  font-size: 15px;
}

.btn:hover {
  opacity: 0.9;
}

/*====== End Main Rules ======*/

/*====== Start Navigation bar ======*/

.main-nav {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 20px 0;
  justify-content: space-between;
  font-size: 13px;
}

.main-nav .logo {
  width: 110px; /* make the logo little bit small */
}

.main-nav ul {
  display: flex;
}

.main-nav ul li {
  padding: 0 10px;
}

.main-nav ul li a:hover {
  border-bottom: 2px solid var(--Nero);
}

.main-nav ul li a {
  padding-bottom: 2px;
}

.main-nav ul.main-menu {
  flex: 1;
  margin-left: 20px;
}

/*====== End Navigation bar ======*/

/* ====== Start Showcase  ======*/

.showcase {
  width: 100%;
  height: 400px;
  /* background: url("/imges/slide1.png");
  background-position: center;
  background-size: cover;
		background-repeat: no-repeat; */
  background: url("/imges/slide1.png") no-repeat center center/cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 50px;
  margin-bottom: 20px;
}

.showcase h2,
p {
  margin-bottom: 10px;
}

.showcase .btn {
  margin-top: 20px;
}

/* ====== End Showcase  ======*/

/* ====== Start footer ======*/

/* ====== End footer ======*/

/* ====== Start Media Queries(Add a Breakpoint) ======*/

/* If the screen size is 700px or up */

@media only screen and (min-width: 700px) {
  /* ====== End Media Queries ======*/
}

/* ====== Start Cards Section ======*/

/* Home Cards1 */
.home-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.home-cards img {
  width: 100%;
  height: 160px; /* for testing my remove latter */
  margin-bottom: 20px;
}

.home-cards h3 {
  margin-bottom: 3px;
}

.home-cards a {
  display: inline-block;
  padding-top: 10px;
  color: var(--blue);
  text-transform: uppercase;
  font-weight: bold;
}

.home-cards a:hover i {
  margin-left: 10px;
}

/* ====== Start Cards Section ======*/
